.app {
	width: 100vw;
	height: 100vh;
	background-color: bisque;
	text-align: center;
}

:global .active {
	color: rgb(253, 137, 4);
	text-decoration: none;
}
.menu {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
