.container{
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  
}
.wrapper{
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
   
}
