.app {
  width: 300px;
}
.screen{
  border: 1px solid black;
  width: 285px;
  height: 60px;
}
.button{
  width: 70px;
  height: 70px;
  color: 20px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.result{
  color: blue;
}
