@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.circle-yellow {
		@apply m-auto;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: rgb(251, 247, 16);
	}
}
